body {
    background-color: black;
    color: white;
    font-family: Comfortaa, cursive;
}

.titleDiv {
    text-align: center;
    font-size: 1.4rem;
}

.transparentHref {
    text-decoration: none;
    color: white;
}

.infoDiv {
    line-height: 5px;
    font-size: 1rem;
    margin: auto;
    margin-top: 5vh;
    width: 90vw;
    text-align: center;
    /* border: 1px solid red; */
}

.inputStrDiv {
    font-size: 1rem;
    margin: auto;
    margin-top: 5vh;
    width: 90vw;
    text-align: center;
    /* border: 3px solid red; */
}

.inputStr {
    resize: none;
    height: 15vh;
    outline: none;
    border: none;
    width: 255px;
    font-family: Comfortaa, cursive;
}

.buttonDiv {
    font-size: 1rem;
    margin: auto;
    margin-top: 2vh;
    width: 90vw;
    text-align: center;
    /* border: 3px solid red; */
}


.button {
    outline: none;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-family: Comfortaa, cursive;
    text-transform: uppercase;
    cursor: pointer;
    height: 40px;
    width: 130px;
    padding: 5px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.downloadButton {
    margin-left: 3px;
    width: 130px;
    padding: 0px 5px;
}

.playButton {
    width: 120px;
    padding: 5px;
}

.button:hover{
    background: #fff;
    color: #1f1f1f !important;
}


.shareDiv {
    text-align: center;
    margin: auto;
    margin-top: 1vh;
    width: 90vw;
    /* border: 2px solid red; */
}

.copyButton {
    width: 258px;
    padding: 5px;
    font-size: 13px;
}

